@media (max-width:3000px) {
    .mediaMenuIcon {
        display: none;
    }
    .mediaMenuOnClick {
        display: none;
    }

    header {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media (max-width:750px) {
    header .one a:nth-of-type(3) {
        display: none;
    }

    header {
        padding-left: 80px;
        padding-right: 80px;
    }
}

@media (max-width:680px) {
    header .one a:nth-of-type(4) {
        display: none;
    }

    header {
        padding-left: 60px;
        padding-right: 60px;
    }
}

@media (max-width:480px) {
    .mediaMenuIcon {
        display: block;
    }

    .leftAnimationForMenu {
        display: none;
    }

    header .one {
        display: none;
    }
    .mediaMenuOnClick {
        display: block;        
    }



}