* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --Fira: Fira Code;
    --purple: #C778DD;
}

html,

body {
    
    cursor: url('Images/download.png') 4 4, default;
    background-color: rgb(41, 45, 54);
}

button,
a {
    cursor: url('Images/2.png') 4 4, pointer;
}

.leftAnimationForMenu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 42px;
    gap: 8px;
    position: absolute;
    top: 0;
    left:17px;
    transition: transform 0.3s ease;

    .onlyYou {
        width: 1px;
        height: 90px;
        margin-left: 12px;
        border: none;
        outline: none;
    }

    a {
        display: flex;
        gap: 8px;
    }

    a img:nth-of-type(1) {
        width: 21px;
        height: 20px;
        border: none;
        outline: none;
        object-fit: contain;

    }

    a img:nth-of-type(2) {
        width: 23px;
        height: 23px;
        border: none;
        outline: none;
        object-fit: contain;

    }

    a img:nth-of-type(3) {
        width: 14px;
        height: 20px;
        border: none;
        outline: none;
        object-fit: contain;

    }

}

@keyframes dropBounce {
    0% { transform: translateY(-100px); }
    70% { transform: translateY(0px); }
    85% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

@keyframes jumpUp {
    0% { transform: translateY(0); }
    30% { transform: translateY(-20px); }
    50% { transform: translateY(0); }
    100% { transform: translateY(-100px); }
}